<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ammar.saifiyahschool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard" />
        <activity android:name=".Syllabus" />
        <activity android:name=".classTest" />
        <activity android:name=".studentLeave" />
        <activity android:name=".Fees" />
        <activity android:name=".StudentProgress" />
        <activity android:name=".Results" />
        <activity android:name=".ipaddress" />
        <activity
            android:name=".teachers.AddClassTest.TeacherClassTest"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".teachers.LeaveBalance.leaveBalance"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".teachers.Progress.progresses"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".teachers.Syllabus.AddSyllabus"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".NoticeBoard" />
        <activity android:name=".teachers.Notification.addNotification" />

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".teachers.LeaveApproval.LeaveApproval" />
        <activity android:name=".Gallery.AddGallery"></activity>
        <activity android:name=".Gallery.ViewGallery"></activity>
        <activity android:name=".Gallery.AlbumNames"></activity>
    </application>

</manifest>